.main title {
	text-align: center;
}

.welcome {
	width: 100%;
	display: flex;
	gap: 15px;
	align-items: center;

	&__prgh {
		width: 50%;
	}
	
	&__img {
		width: 50%;
		height: 400px;
		background: url(./../../pics/oop.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.site-about {
	display: flex;
	justify-content: space-around;
	align-items: center;

	&__prgh {
		width: 50%;
	}

	&__img {
		width: 500px;
		height: 500px;
		background: url(./../../pics/oop-man.png);
		background-position:  center center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 35px;
	}
}

