/* Quiz.css */
.quiz-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.question-title {
	font-size: 25px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.option {
  display: block;
  margin: 0.5rem 0;
}

.option input[type="radio"] {
  margin-right: 0.5rem;
}

.option label {
	font-size: 25px;
}

.quest{
	font-size: 25px;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:not(:disabled) {
  background-color: #007bff;
  color: white;
  border: none;
}

button:not(:disabled):hover {
  background-color: #0056b3;
}

.result {
	font-size: 25px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #4caf50;
  margin-top: 1rem;
}
