.title {
	font-size: 35px;
	margin: 30px;
	margin-top: 80px;
	font-weight: 900;
}

.title:first-child {
	margin-top: 20px;
}

.subtitle {
	font-size: 30px;
	margin: 25px;
	margin-top: 55px;
	font-weight: 500;
}

.prgh {
	font-size: 25px;
	margin: 30px 0px;
	
	ul li, ol li {
		font-size: 25px;
	}
}

.info {
	width: 96%;
	margin: 15px 2%;
	padding: 15px;
	border: 3px solid #ddd;
	border-radius: 15px;
	font-size: 25px;

	b, i {
		font-size: 25px;
	}
}


@media screen and (max-width: 500px) {
	.title {
		font-size: 30px;
		margin: 5px;
	}

	.subtitle {
		font-size: 27px;
		margin: 5px;
	}

	.prgh {
		ul, ol {
			margin-left: 15px;
			padding: 0;
		}
	}

	.info {
		width: 99%;
		margin: 10px 0.5%;
		padding: 5px;
		font-size: 20px;

		b, i {
			font-size: 20px;
		}
	}
}

@media screen and (max-width: 400px) {
	.prgh {
		font-size: 20px;

		ul li {
			font-size: 20px;
		}
		ol li {
			font-size: 20px;
		}
	}
}
